@font-face {
  font-family: 'pfwp';
  src: url('../fonts/fontello/font/pfwp.woff2') format('woff2'),
      url('../fonts/fontello/font/pfwp.ttf') format('truetype');
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}
