@import "./vars.scss";
@import "./reboot.scss";

body {
  font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
  font-size: 14px;
  background-color: var(--home-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  margin: 0;
  padding: 30px;
}
