.container {
  position: fixed;
  min-height: 80px;
  bottom: 0;
  left: 0;
  margin-left: 280px;
  width: 100%;
  background-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  font-weight: 500;
  color: #8e8da2;
}
