@import "../app/scss/vars.scss";

$header-height: 40px;
$container-padding: 20px;

.container {
  position: fixed;
  height: $schema-btm-min-height;
  bottom: 0;
  left: 0;
  margin-left: 280px;
  width: calc(100% - 280px);
  background-color: #fff;
  padding: 0 $container-padding;
  border-top: 1px solid #ddd;
  font-size: 14px;
  font-weight: 500;
  color: #8e8da2;
}

.header {
  height: $header-height;
  overflow: hidden;
  line-height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schemaControls {
  font-size: 18px; 
}

.jsonSchemaContainer {
  height: calc(100% - #{$header-height + $container-padding});
  overflow: auto; 
}

.icon {
  cursor: pointer;
}
