<!doctype html>
<html>
    <head>
        <title>Peanut - Home</title>
        {{{css}}}
    </head>
    <body>
        <h2>Peanut Prototypes</h2>
        <p>Peanut for Wordpress</p>
        {{{js}}}
    </body>
</html>
